#backgroundTitle{
    display: inline-block;
    position: absolute;
    width: 627px;
    height: 184px;
    left: 60px;
    top: 290px;
    filter: drop-shadow(10px 10px 0px#FFD639);
    background-color: rgba(17, 25, 40, 0.493);
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.7s ease;
    transform: scale(1)
}
#backgroundTitle:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}