#title {
    font-family: "Francois One", sans-serif;
    font-size: 80px;
    align-items: absolute;
    color: #FFD639;
    position: absolute;
    width: 400px;
    height: 40px;
    left: 181px;
    top: 238px;
}